/* Write your CSS here */
.container {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: #93c5fd;
  height: 100vh;
}
.card-container {
  background-color: #f8fafc;
  border-radius: 16px;

  width: 80%;
  padding: 20px;
  height: 50vh;
  max-width: 500px;
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 500;
  text-align: center;
}
.select-capitals {
  display: flex;
  align-items: center;
  height: 20px;
  width: 250px;
}
.container-list {
  display: flex;
  align-items: center;
}
.para {
  margin-left: 10px;
}
.country {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Roboto';
}
